<div id="register-form">
    <div class="card card-container">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="register-title">Rejestracja</div>
            <div class="form-group">
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="form.registration.email" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="password" placeholder="Hasło" [(ngModel)]="form.registration.password" />
                </div>
                <div class="form-group">
                    <select class="form-control" name="type" [(ngModel)]="form.registration.type">
                        <option>USER</option>
                        <option>ORGANIZATION</option>
                    </select>
                </div>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="registerBtn">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>