.form-control {
    margin: 2em auto;
    padding: auto;
}

#emailInput {
    margin: 2em auto;
    margin-bottom: 1em;
    position: relative;
    border-radius: 17px;
}

#passInput {
    margin: 2em auto;
    margin-top: 1em;
    position: relative;
    border-radius: 17px;
}

#registerBtn {
    margin: auto;
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    border-radius: 17px;
    height: 42px;
}