<div id="header">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand abs" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="assets/images/zwierzegle-logo.png" alt="Zwierzegle" /></a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapseNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zwierzęta do adopcji</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Kontakt</a>
                    </li>
                    <ng-template [ngIf]="!isLoggedIn">
                    <li class="nav-item">
                        <a class="nav-link" id="registrationBtn" routerLink="/register">Rejestracja</a>
                    </li>
                    <li>
                        <a class="nav-link vertical-line" id="verticalLine"></a>
                    </li>
                    <li>
                        <a class="nav-link btn btn-primary btn-sm" id="signInBtn" routerLink="/login">Zaloguj się</a>
                    </li>
                    </ng-template>
                    <li *ngIf="isLoggedIn">
                        <a class="nav-link btn btn-primary btn-sm" (click)="logout()">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>