#footer {
    position: absolute;
    bottom: 0px;
    background-color: var(--color-primary);
    padding: 1em 0;
    text-align: center;
    color: white;
    width: 100%;
    font-family: Montserrat;
}