<div id="changePassForm" >
    <div class="card card-container">
        <form novalidate>
            <div class="login-title">Zmiana hasła</div>
            <div class="form-group" id="emailContainer">
                <input type="text" class="form-control" placeholder="E-mail" id="emailInput" name="email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Stare hasło" id="oldPassInput" name="email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nowe hasło" id="newPassInput" name="email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Powtórz hasło" id="repeatPassInput" name="email"/>
            </div>
            <div class="form-group change-pass-btn-container">
                <button class="btn btn-primary btn-block" id="changePassBtn">
                    Zmień
                </button>
            </div>
        </form>
    </div>
</div>