#changePassForm {
    margin-top: 5em;
    width: 400px;
}

#emailInput, #oldPassInput, #newPassInput, #repeatPassInput {
    margin: 1em auto;
    margin-bottom: 1em;
    position: relative;
    border-radius: 17px;
}

#changePassBtn {
    margin-top: 1em;
    position: relative;
    width: 100%;
    color: #FFFFFF;
    border-radius: 17px;
    height: 42px;
    font-weight: bold;
}