<div id="howAdoptForm">
    <div class="box1">
        <div class="first-option"><h4><b>Jak adoptować psa?</b></h4>
            <ul>
                <li>Przejrzyj ogłoszenia psów na naszej stronie</li>
                <li>Jeżeli zdecydujesz się na adopcję, któregoś z psów kliknij 'Ubiegaj się o adopcję'.</li>
                <li>Wypełnij ankietę przedadopcyjną.</li>
                <li>Po przeanalizowaniu ankiety właściciel psa lub fundajca skontaktuje się z Tobą telefonicznie, by przekazać decyzję <br> o kontynuowaniu lub przerwaniu procesu adopcyjnego.</li>
                <li>Zalecane jest umówienie się telefonicznie na spacer przedadopcyjny.</li>
            </ul>            
        </div>
    </div>
    <div class="box2">
        <div class="second-option"><h4><b>Jak adoptować kota?</b></h4>
            <ul>
                <li>Przejrzyj ogłoszenia kotów na naszej stronie</li>
                <li>Jeżeli zdecydujesz się na adopcję, któregoś z kotów kliknij 'Ubiegaj się o adopcję'.</li>
                <li>Wypełnij ankietę przedadopcyjną.</li>
                <li>Po przeanalizowaniu ankiety właściciel psa lub fundajca skontaktuje się z Tobą telefonicznie, 
                    <br> by przekazać decyzję o kontynuowaniu lub przerwaniu procesu adopcyjnego.</li>
                <li>Jeśli decyzja pracownika jest pozytywna, następuje podpisanie umowy adopcyjnej
                    <br> i przekazanie zwierzęcia osobie adoptującej.</li>
                <li>Pamiętaj żeby mieć ze sobą transporter do bezpiecznego przewozu kotów, 
                    <br> który będzie potrzebny w momencie odbierania zwierzęcia od właściciela</li>
            </ul>
        </div>
    </div>
    <div class="box3">
        <div class="third-option"><h4><b>Odmowa adopcji</b></h4>
            Każdy musi liczyć się z tym, że może dostać odmowę adopcji konkretnego zwierzęcia. Zwierzęta to żywe istoty, które mają <br> konkretne charaktery i predyspozycje. Nie każdy dom jest odpowiedni dla każdego zwierzęcia. Na przykład:
            <ul>
                <li>Niektóre zwierzęta wymagają bardziej doświadczonych opiekunów.</li>
                <li>Nie każdy pies/kot nadaje się dla osoby, która w przeszłości nie miała psa/kota.</li>
                <li>Młody energiczny pies potrzebuje aktywnego domu.</li>
                <li>Nie każdy pies/kot akceptuje dzieci.</li>
                <li>Nie każdy pies/kot akceptuje inne zwierzęta.</li>    
            </ul>
        </div>
    </div>
</div>
