.card.card-container {
    border: unset;
    outline: none;
    background: transparent;
}

.form-control {
    margin: 2em auto;
    padding: auto;
}

#emailInput {
    margin: 2em auto;
    margin-bottom: 1em;
    position: relative;
    border-radius: 17px;
}

#passInput {
    margin: 2em auto;
    margin-top: 1em;
    position: relative;
    border-radius: 17px;
}

#loginBtn {
    margin: auto;
    position: relative;
    width: 100%;
    color: #FFFFFF;
    border-radius: 17px;
    height: 42px;
    font-weight: bold;
}