<div id="blogForm">
    <div class="blog-title">Blog</div>
    <div class="blog-options">
        <button class="box1" routerLink="/how-can-you-help">
            <a class="blog-help-btn" id="blogHelpBtn">Jak możesz pomóc?</a>
        </button>
        <button class="box2" routerLink="/how-adopt">
            <a class="blog-adoption-btn" id="blogAdoptionBtn">Jak zaadoptować zwierzę?</a>
        </button>
        <button class="box3" routerLink="/befriend-pet">
            <a class="blog-befriend-btn" id="blogBefriendBtn">Z jakim zwierzakiem się zaprzyjaźnisz?</a>
        </button>
    </div>
</div>
