/* You can add global styles to this file, and also import other style files */

// Your variable overrides
$body-bg: #ffffff;
$primary: #E58D2A;

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';


:root {
    --color-primary: #E58D2A;
}

body {
    background-image: url('./assets/images/background.png');
    background-color: #eee8e2;
}