/* You can add global styles to this file, and also import other style files */

// Your variable overrides
$body-bg: #ffffff;
$primary: #E58D2A;

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';


:root {
    --color-primary: #E58D2A;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #E58D2A #eee8e2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #E58D2A;
    border-radius: 17px;
    border: 2px solid #E58D2A;
  }

@font-face {
    font-family: Monsterrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

html * {
    font-family: Monsterrat;
}

body {
    background-image: url('./assets/images/background.png');
    background-color: #eee8e2;
    margin-bottom: 1em;
}

.login-title, .register-title, .blog-title, .how-help-title, .befriend-pet-title, .edit-profile-title {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    text-align: center;
    justify-content: center;
    background: -webkit-linear-gradient(0deg, rgb(124, 73, 14) 0%, rgba(229,141,42,1) 61%, rgb(196, 175, 70) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.card-container {
    border: unset;
    outline: none;
    background: transparent;
}

#register-form, #login-form, #changePassForm, #editProfileForm { 
    margin: 2em auto;
    position: relative;
    padding: 20px;
    width: 500px;

}

.social-group {
    text-align: center;
    margin: 10px auto;
}

.submit {
    margin: 10px;
    text-align: center;
    border: unset;
    background-color: transparent;
}

#facebookBtn, #googleBtn {
    margin: auto 10px;
    text-align: center;
    border-radius: 17px;
    width: 150px;
}

#facebookBtn {
    background: url('./assets/images/facebook-icon.png');
    background-repeat: no-repeat;
    background-color: #3B5998;
    color: #FFFFFF;
    background-position-x: 5px;
    background-position-y: 5px;
    height: 35px;
}

#googleBtn {
    background: url('./assets/images/google-icon.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position-x: 5px;
    background-position-y: 5px;
    height: 35px;
}