<div id="befriendPetForm">
    <div class="befriend-pet-title">Z jakim zwierzakiem się zaprzyjaźnisz?</div>
    <div class="box1">
        <div class="first-option">
            Najpopularniejsze zwierzątka do domu to psy i koty, które towarzyszą 
            człowiekowi od tysiącleci. Obecnie bardzo popularne są też rybki akwariowe, 
            papużki, żółwie oraz gryzonie (np. szczury, chomiki czy szynszyle). 
            Zanim jednak zaprosimy pod swój dach nowego przyjaciela, warto porządnie się nad 
            tym zastanowić. Zwierzę to nie nowa lampa, którą można oddać przyjaciółce lub 
            wyrzucić. Przeczytajcie nasze wskazówki, jak dopasować pupila do swojego charakteru i możliwości.
            <br>Jeśli nigdy wcześniej nie mieliście bliższych kontaktów ze zwierzętami, 
            warto wykonać testy u alergologa, aby nie okazało się, że mamy uczulenie 
            na nowego domownika! Kontakt ze zwierzętami jest polecany dzieciom. 
            Uczy odpowiedzialności za pupila, wymaga poświęceń, ale daje też poczucie 
            bezpieczeństwa. Dobrymi towarzyszami dziecięcych zabaw będą psy. Spacery z psem 
            zapewnią dziecku dużą dawkę ruchu i pozytywnej energii. Kot z pewnością nauczy 
            poszanowania swojej niezależności, a w chwilach smutku czy w chorobie, 
            z pewnością przyjdzie Cię pocieszyć. Obserwowanie rybek zapewni Ci relaks po 
            ciężkim dniu pracy. Poniżej prześledzimy plusy i minusy najpopularniejszych 
            zwierzątek domowych.    
        </div>
    </div>
    <div class="box2">
        <div class="second-img">
            <img src="/frontend/src/assets/images/befriend-dog.png" alt="Tu powinno być zdjęcie piesków">
        </div>
        <div class="second-option"><h4><b>Pies</b></h4>
            Najlepszy przyjaciel człowieka. Zanim przygarniemy uroczego szczeniaczka, 
            zastanówmy się, jakiej wielkości pies z niego wyrośnie. 
            Pamiętajmy, że nasi przyjaciele potrzebują spacerów. Niektóre rasy mają 
            ściśle określone wymagania żywieniowe. Trzeba pamiętać o wizytach 
            u weterynarza i szczepieniach. Ważne jest przygotowanie wygodnego legowiska. 
            Pies potrzebuje bliskości i zabawy. Jeśli więc po długim dniu pracy wracamy 
            i marzymy o ciepłym łóżku, z pewnością nie zgramy się z czworonogiem, który 
            będzie tylko czekał aż wrócisz i zabierzesz go na spacer. Jeśli nie masz pewności 
            czy podołasz opiece nad pieskiem, możesz zacząć od opieki nad pupilem przyjaciół, 
            którzy akurat wyjechali na urlop. Możesz też, zwrócić się do najbliższego 
            schroniska i zacząć od wolontariatu.
        </div>
    </div>
    <div class="box3">
        <div class="third-option"><h4><b>Kot</b></h4>
            Koty chodzą swoimi ścieżkami. Mogą wydawać się nieco zarozumiałe i złośliwe, 
            ale tak naprawdę to czułe i potrzebujące bliskości zwierzaki. Będą dobrym 
            towarzyszem dla osób ceniących sobie wieczory z książką na kanapie. Lubią oglądać 
            telewizor i biegać za laserowym punkcikiem, łasić się do nóg i być głaskane. 
            Nie potrzebują spacerów, ale trzeba pamiętać o częstym czyszczeniu ich kuwety, 
            bo w ramach protestu mogą zacząć załatwiać swoje potrzeby w twoich butach. Koty 
            lubią wdrapywać się na szafki i skakać. 
            <br>Wybierając milusińskiego dla dziecka, musimy zwrócić uwagę na jego charakter. 
            Jedne koty są w stanie wiele wybaczyć dzieciom, które ciągną je za ogon i sierść, 
            inne mogą reagować agresywnie i w odwecie podrapać malucha. Jeszcze inne będą 
            uciekać przed dziećmi, nie pozwalając się głaskać. Trzeba pamiętać, że kot zawsze 
            musi mieć miseczkę z czystą wodą. Nie zapomnijmy też o misce na jedzenie.
        </div>
        <div class="third-img">
            <img src="/frontend/src/assets/images/befriend-cat.png" alt="Tu powinno być zdjęcie kotków">
        </div>
    </div>
    <div class="box4">
        <div class="fourth-img">
            <img src="/frontend/src/assets/images/befriend-rodents.png" alt="Tu powinno być zdjęcie gryzoni">
        </div>
        <div class="fourth-option"><h4><b>Gryzonie</b></h4>
            To odpowiednie zwierzaki dla osób, które mają mało miejsca w domu. Wystarczy im 
            klatka dostosowana do ich wzrostu i potrzeb. Świnki morskie i chomiki potrzebują 
            domku, miseczki na jedzenie i poidełka oraz karuzeli, na której będą mogły 
            poćwiczyć. Świnki morskie najczęściej potrzebują towarzystwa, dlatego lepiej kupić 
            co najmniej dwie. 
            Króliki również nie potrzebują dużo przestrzeni. Trzeba wypuszczać je z klatki na 
            minimum 4 godziny dziennie. Musimy przy tym uważać, gdyż mogą one przegryzać kable. 
            Na ogół nie lubią gdy wkłada się ręce do klatki. Bardzo przywiązują się do 
            właściciela. Cieszą się gdy wraca do domu. Nie nadają się dla małych dzieci, gdyż 
            mogą je dotkliwie pogryźć. 
        </div>
    </div>
    <div class="box5">
        <div class="fifth-option"><h4><b>Żółwie</b></h4>
            Potrzebują dużego terrarium, które będzie przypominać ich naturalne środowisko życia. 
            Trzeba dbać o odpowiednią dietę, temperaturę powietrza , wilgoć i promieniowanie UV. 
            Terrarium powinno stać w spokojnym miejscu, inaczej żółw będzie zestresowany. 
            Żółwie pustynne powinny mieć dostęp do naczynia ze świeżą, czystą wodą, natomista 
            żółwie wodne możliwość popływania w terrarium. Opieka nad żółwiami jest bardzo wymagająca. 
            Dzieci raczej nie poradzą sobie same. Ponadto to zwierzęta powolne, co ogranicza możliwości 
            zabawy z dzieckiem. 
        </div>
        <div class="fifth-img">
            <img src="/frontend/src/assets/images/befriend-turtles.png" alt="Tu powinno być zdjęcie żółwi">
        </div>
    </div>
</div>
